.quiz-container {
    background-color: #2C75F2;
    margin-top: 50px;
    width: 70vh;
    min-height: 20vh;
    height: min-content;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-evenly;
}

.question-section {
    width: 100%;
    position: relative;
    text-align: center;
}

.question-count {
    margin-bottom: 20px;
    font-size: 28px;
    color: #ffffff;
    font-weight: bold;
}

.question-text {
    color: #ffffff;
    padding: 20px;
}

.question-voc {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}

.answer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button {
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    background-color: #252d4a;
    border-radius: 15px;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    border: none;
}

.button:hover {
    background-color: #555e7d;
}

.button:focus {
    outline: none;
}

.score-section {
    font-size: 24px;
    color: #252d4a;
    margin-top: 20px;
}

.back-button {
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.75);
    background-color: #2C75F2;
}