.add-list-tile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2px dashed rgba(255, 116, 0, 0.5);
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 15px;
}

.add-list-tile .add-icon {
    font-size: 3em;
    margin-bottom: 1px;
    margin-right: 10px;
}

.flip-container {
    perspective: 1000px;
    width: 100%;
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.flip-container.flipped {
    height: auto; /* oder eine spezifische Höhe, wenn umgedreht */
}

.back {
    backface-visibility: hidden;
    position: absolute;
    width: 100%; /* Setze die Breite */
    transform: rotateY(180deg);
    border-radius: 10px;
    padding-top: 20px;

}

.front {
    z-index: 2;
}

.add-list-tile .input {
    width: 80%;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.add-list-tile .add-button, .add-list-tile .cancel-button {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
}