.user-management-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh; /* Stellt die volle Höhe sicher */
    text-align: center;
}

.tiles-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Erzeugt ein responsives Grid mit maximal 4 Tiles pro Reihe */
    gap: 20px;
    margin-top: 20px;
    width: 100%;
    max-width: 800px; /* Begrenzt die maximale Breite des Containers */
}

.user-management-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
}

.header-button {
    background-color: #2c75f2;
    width: 120px;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 50px;
    margin-right: 50px;
}

.header-button .fa-pencil {
    margin-right: 5px; /* Fügt etwas Abstand zwischen Icon und Text ein */
}